.o_slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.o_slide__inner {
  background-color: white;
  border-radius: 8px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 1600px;
  height: 900px;
}
